@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
h1{
    font-size:16px;
}
body{
    background-image:linear-gradient(90deg,red,orange,yellow,green,cyan,blue,purple);
}
.wrapper {
 display:flex;
 align-items:center;
 size:3cm;
}