body{
    background-image:linear-gradient(red,orange,yellow,green,cyan,blue,purple);
    color:color-mix(in srgb-linear, red 50%, blue 50%);
}
.wrapper {
 display:flex;
 align-items:center;
 size:3cm;
}